.oui-scrollbar-container {
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    display: none;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    border-right: 2px solid transparent;
    background-clip: padding-box;
  }
}
.oui-scrollbar-container-large {
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.15);
    border-right: 2px solid transparent;
    background-clip: padding-box;
  }
}

.oui-scrollbar-container {
  /* Standardized Properties */
  @supports not selector(::-webkit-scrollbar) {
    scrollbar-color: rgba(0, 0, 0, 0.15) transparent;
    scrollbar-width: thin;
  }
}
