.oui-scrollbar-container {
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 10px;
    background: transparent;
  }

  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-track-piece {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.24);
    border: 2px solid transparent;
    border-radius: 999px;
    background-clip: padding-box;
  }
}

.oui-scrollbar-container-large {
  &::-webkit-scrollbar {
    width: 10px;
    background: transparent;
  }

  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-track-piece {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.24);
    border: 2px solid transparent;
    border-radius: 999px;
    background-clip: padding-box;
  }
}

@supports (-moz-appearance: none) {
  .oui-scrollbar-container {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.24) transparent;
  }
}
