# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/out
/ui/src/stories/themes
/ui/node_modules
/storybook-static
/documentation.json
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# storybook dynamic files
/ui/src/stories/styles/themes

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
.npmrc
yarn-error.log
testem.log
/typings
/coverage
/reports
/.angular

# System Files
.DS_Store
Thumbs.db

# exclude codeowners file so it will only be in master
/docs/CODEOWNERS