//registry.npmjs.org/:_authToken=bca4d10b-308b-4e50-8ab8-def6ccdf2b3b
@once:registry=https://www.myget.org/F/sonf/npm/
//www.myget.org/F/sonf/npm/:_authToken=c88ce1ea-ef0b-416c-9022-72d434b97f38
always-auth=true
