//registry.npmjs.org/:_authToken=bca4d10b-308b-4e50-8ab8-def6ccdf2b3b
@once:registry=https://www.myget.org/F/sonf/npm/
//www.myget.org/F/sonf/npm/:_authToken=789c4d68-b6ce-4311-8292-782dfe6f0bd5
always-auth=true
