@import 'dist/ui/prebuilt-themes/inviteonce.scss';

.fit{
    div{
        margin: 20px;
        button,a{
            margin-right: 10px;
        }
        a::after{
            content: '';
            clear: both;
        }
    }
}

.simple {
    height: 300px;
    width: 100%;
    background-color: darkgray
}