@mixin themifyButtons($component) {
  @if ($component != null) {
    $base-theme: map-get($component, 'base');
    $light-theme: map-get($component, 'light');
    $text-color-theme: map-get($component, 'text-color');
    @include commonthemes($base-theme, $light-theme, $text-color-theme);
  }
}

@mixin commonthemes($base-theme, $light-theme, $text-color-theme) {
  .once-ui-btn {
    @include themeColor($base-theme, $text-color-theme);
    &:last-child {
      &:hover {
        @include themeColor($light-theme, $text-color-theme);
        @extend %once-ui-hover-color;
      }
    }
  }
  .once-ui-btn.once-ui-btn-secondary {
    @include secondaryBtn($base-theme, $text-color-theme);
    @extend %once-ui-bg-transparent;
    &:hover {
      @include themeColor($light-theme, $text-color-theme);
    }
  }
}

.once-ui-theme {
  @include themifyButtons(map-get($once-ui-theme, 'buttons'));
}
