// The width/height of the icon element.
$oui-icon-size: 24px !default;

.oui-icon {
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: $oui-icon-size;
  width: $oui-icon-size;

  &.oui-icon-inline {
    font-size: inherit;
    height: inherit;
    line-height: inherit;
    width: inherit;
  }
}