$oui-menu-side-padding: 16px !default;
$scrollbar-width: 17px;
$clear-button-width: 20px;
$multiple-check-width: 33px;
$defaul-color: #c8c8c8;

.oui-select-search-hidden {
  visibility: hidden;
}
.oui-select-search-inner {
  position: absolute;
  background: #fff;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 100;
  padding: 10px;
  box-sizing: border-box;
  &.oui-select-search-inner-multiple {
    width: calc(
      100% + #{2 * $oui-menu-side-padding - $scrollbar-width +
        $multiple-check-width}
    );
  }
  .oui-select-search-input {
    &.right-padding {
      padding-right: 28px;
    }
    &:focus {
      border-color: $defaul-color;
    }
  }
  .clear-btn {
    background-color: #fff;
    position: absolute;
    right: 1px;
    top: 1px;
    height: calc(100% - 10px);
    padding: 8px 4px 0px 4px;
  }
}
.oui-select-search-panel {
  /* allow absolute positioning relative to outer options container */
  transform: none !important;
  max-height: 150px;
}
.oui-select-search-no-entries-found {
  padding: $oui-menu-side-padding;
}
.oui-select-search-clear {
  position: absolute;
  right: 0;
  top: 4px;
}
