<div class="oui-select-search-inner">
  <oui-form-field>
    <input
      oui-input
      class="oui-select-search-input"
      #searchSelectInput
      (input)="onInputChange($event.target.value)"
      [attr.aria-label]="ariaLabel()"
      [placeholder]="placeholderLabel()"
      [class]="{'right-padding': _value?.length}"
      />
    @if (_value?.length) {
      <div class="clear-btn">
        <button
          title="Clear"
          (click)="clearInput()"
          aria-label="Clear search"
          oui-icon-button
          >
          <oui-icon svgIcon="x-close-small"></oui-icon>
        </button>
      </div>
    }
  </oui-form-field>
</div>
