<h1>Buttons</h1>
<!--primary buttons-->
<div>

    <button oui-button color="primary">this is super button</button>

    <button oui-button color="accent">this is super button</button>

    <button oui-button color="warn">this is super button</button>

    <button oui-button color="primary" disabled>this is super button</button>
</div>

<!--link buttons-->
<div>

    <button oui-link-button color="primary">this is super button</button>

    <button oui-link-button color="accent">this is super button</button>

    <button oui-link-button color="warn">this is super button</button>

    <button oui-link-button color="primary" disabled>this is super button</button>

</div>

<!--ghost buttons-->
<div>

    <button oui-ghost-button color="primary">this is super button</button>

    <button oui-ghost-button color="accent">this is super button</button>

    <button oui-ghost-button color="warn">this is super button</button>

    <button oui-ghost-button color="primary" disabled>this is super button</button>

</div>

<!--icon buttons-->
<div>

    <button oui-icon-button color="primary"><img src="../assets/images/excel.png"><label>this is super button</label></button>

    <button oui-icon-button color="accent"><img src="../assets/images/csv.png"><label>this is super button</label></button>

    <button oui-icon-button color="warn"><img src="../assets/images/pdf.png"><label>this is super button</label></button>

</div>

<h1>A tags</h1>
<!--primary buttons-->
<div>
    <a oui-button color="primary">this is super button</a>

    <a oui-button color="accent">this is super button</a>

    <a oui-button color="warn">this is super button</a>

    <a oui-button color="primary" disabled>this is super button</a>
</div>

<!--link buttons-->
<div>

    <a oui-link-button color="primary">this is super button</a>

    <a oui-link-button color="accent">this is super button</a>

    <a oui-link-button color="warn">this is super button</a>

    <a oui-link-button color="primary" disabled>this is super button</a>

</div>

<!--ghost buttons-->
<div>

    <a oui-ghost-button color="primary">this is super button</a>

    <a oui-ghost-button color="accent">this is super button</a>

    <a oui-ghost-button color="warn">this is super button</a>

    <a oui-ghost-button color="primary" disabled>this is super button</a>

</div>
<!--icon buttons-->
<div>

    <a oui-icon-button color="primary"><img src="../assets/images/excel.png"><label>this is super button</label></a>

    <a oui-icon-button color="accent"><img src="../assets/images/csv.png"><label>this is super button</label></a>

    <a oui-icon-button color="warn"><img src="../assets/images/pdf.png"><label>this is super button</label></a>

</div>

<h1>Progress Button</h1>

<div>
    <button oui-progress-button [labels]="['Button','Saving...','Saved']" stage="done"></button>
</div>