@import './core/theming/prebuilt/scheduleonce.scss';

.fit{
    div{
        margin: 20px;
        button,a{
            margin-right: 10px;
        }
        a::after{
            content: '';
            clear: both;
        }
    }
}