.fit {
  div {
    margin: 10px;
    button,
    a {
      margin-right: 10px;
    }
    a::after {
      content: '';
      clear: both;
    }
  }
  .input-outer {
    max-width: 237px;
  }
  .textarea-outer {
    max-width: 326px;
    width: 100%;
  }
  .display-inline {
    display: inline-block;
  }
  input:disabled {
    border-color: #e4e4e4;
    color: #9c9c9c;
    background-color: transparent;
  }
  textarea {
    line-height: 19px;
    padding: 8px 9px;
  }
  &:disabled {
    border-color: #e4e4e4;
    color: #9c9c9c;
    background-color: transparent;
  }

  .trigger {
    width: 200px;
    height: 50px;
    margin-top: 100px;
    margin-left: 100px;
    background-color: rgb(240, 234, 234);
    display: inline-block;
    padding: 15px 20px;
    text-align: center;

    span {
      display: block;
    }
  }

  oui-slide-toggle {
    margin-right: 10px;
  }
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}

.bigImage {
  height: 33px;
  width: 33px;
}
oui-radio-button {
  margin-right: 10px;
}
