@import './core/theming/prebuilt/chatonce.scss';

.fit{
    div{
        margin: 10px;
        button, a{
            margin-right: 10px;
        }
        a::after{
            content: '';
            clear: both;
        }
    }
    .input-outer{
        max-width: 137px;
    }
    .textarea-outer{
        max-width: 326px;
        width: 100%;
    }
    .display-inline{
        display: inline-block;
    }
    input:disabled{
        border-color: #E4E4E4;
        color: #9C9C9C;
        background-color: transparent;
    }
    textarea{
        line-height: 19px;
        padding: 8px 9px;
    }
    &:disabled{
        border-color: #E4E4E4;
        color: #9C9C9C;
        background-color: transparent;
    }
    .bottom-line {
        background-color: transparent;
        height: 1px;
        transition: all .1s;
        margin: 0px;
    }
}