.fit{
    div{
        margin: 20px;
        button,a{
            margin-right: 10px;
        }
        a::after{
            content: '';
            clear: both;
        }
    }
}

oui-slide-toggle{
margin-right: 10px;
}