<!--primary buttons-->
<div>
    <button oui-button color="primary">this is super button</button>

    <button oui-button color="accent">this is super button</button>

    <button oui-button color="warn">this is super button</button>

    <button oui-button color="primary" disabled>this is super button</button>
</div>

<!--link buttons-->
<div>

    <button oui-link-button color="primary">this is super button</button>
    
    <button oui-link-button color="accent">this is super button</button>
    
    <button oui-link-button color="warn">this is super button</button>

    <button oui-link-button color="primary" disabled>this is super button</button>

</div>

<!--ghost buttons-->
<div>

    <button oui-ghost-button color="primary">this is super button</button>
    
    <button oui-ghost-button color="accent">this is super button</button>
    
    <button oui-ghost-button color="warn">this is super button</button>

    <button oui-ghost-button color="primary" disabled>this is super button</button>

</div>