@import 'theming';
@import '../../button/button-theme';
@import '../../dialog/dialog-theme';
@import '../../slide-toggle/slide-toggle-theme';
@import '../../progress-spinner/progress-spinner-theme';
@import '../../progress-bar/progress-bar-theme';
@import '../../input/input-theme';
@import '../../form-field/form-field-theme';
@import '../../icon/icon-theme';
@import '../../select/select-theme';
@import '../../datepicker/datepicker-theme';
@import '../../checkbox/checkbox-theme';
@import '../../radio/radio-theme';
@import '../../tabs/tabs-theme';
@import '../cdk/overlay/overlay-prebuilt'; // Loading overlay

// Create a theme.
@mixin once-ui-theme($theme) {
  @include oui-button-theme($theme);
  @include oui-dialog-theme($theme);
  @include oui-input-theme($theme);
  @include oui-form-field-theme($theme);
  @include oui-icon-theme($theme);
  @include oui-slide-toggle-theme($theme);
  @include oui-progress-spinner-theme($theme);
  @include oui-progress-bar-theme($theme);
  @include oui-select-theme($theme);
  @include oui-checkbox-theme($theme);
  @include oui-radio-theme($theme);
  @include oui-datepicker-theme($theme);
  @include oui-tabs-theme($theme);
}
