@import url('//fonts.googleapis.com/css?family=Open+Sans:100,100i,300,300i,400,400i,500,500i,600,600i,700,700i,900,900i');
.fit div button,
.fit div a {
  margin-right: 10px;
}
.fit div a::after {
  content: '';
  clear: both;
}
.fit .input-outer {
  max-width: 237px;
}
.fit .input-outer.outer-min-width {
  width: 100px;
}
.fit .textarea-outer {
  max-width: 326px;
  width: 100%;
}
.fit .display-inline {
  display: inline-block;
}
.fit input:disabled {
  border-color: #e4e4e4;
  color: #9c9c9c;
  background-color: transparent;
}
.fit textarea {
  line-height: 19px;
  padding: 8px 9px;
}
.fit:disabled {
  border-color: #e4e4e4;
  color: #9c9c9c;
  background-color: transparent;
}
.fit .bottom-line {
  background-color: transparent;
  height: 1px;
  transition: all 0.1s;
  margin: 0px;
}
.fit .trigger {
  width: 200px;
  height: 50px;
  margin-top: 100px;
  margin-left: 100px;
  background-color: #f0eaea;
  display: inline-block;
  padding: 15px 20px;
  text-align: center;
}
.fit .trigger span {
  display: block;
}
.fit oui-slide-toggle {
  margin-right: 10px;
}
.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}
.example-margin {
  margin: 0 10px;
}
.bigImage {
  height: 33px;
  width: 33px;
}
.width80 {
  width: 80%;
}
.oui-radio-button {
  margin-right: 10px;
}
.example-option-img {
  vertical-align: middle;
  margin-right: 8px;
}
[dir='rtl'] .example-option-img {
  margin-right: 0;
  margin-left: 8px;
}
.example-panel-red.oui-select-panel {
  background: rgba(255, 0, 0, 0.5);
}
.example-panel-green.oui-select-panel {
  background: rgba(0, 255, 0, 0.5);
}
.example-panel-blue.oui-select-panel {
  background: rgba(0, 0, 255, 0.5);
}
.noResults {
  color: #333;
  font-size: 14px;
  line-height: 22px;
  padding: 0 10px;
  margin: 17px 0 21px;
  word-break: break-all;
}

oui-radio-button {
  margin-right: 10px;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
@font-face {
  font-family: octicons-link;
  src: url(data:font/woff;charset=utf-8;base64,d09GRgABAAAAAAZwABAAAAAACFQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABEU0lHAAAGaAAAAAgAAAAIAAAAAUdTVUIAAAZcAAAACgAAAAoAAQAAT1MvMgAAAyQAAABJAAAAYFYEU3RjbWFwAAADcAAAAEUAAACAAJThvmN2dCAAAATkAAAABAAAAAQAAAAAZnBnbQAAA7gAAACyAAABCUM+8IhnYXNwAAAGTAAAABAAAAAQABoAI2dseWYAAAFsAAABPAAAAZwcEq9taGVhZAAAAsgAAAA0AAAANgh4a91oaGVhAAADCAAAABoAAAAkCA8DRGhtdHgAAAL8AAAADAAAAAwGAACfbG9jYQAAAsAAAAAIAAAACABiATBtYXhwAAACqAAAABgAAAAgAA8ASm5hbWUAAAToAAABQgAAAlXu73sOcG9zdAAABiwAAAAeAAAAME3QpOBwcmVwAAAEbAAAAHYAAAB/aFGpk3jaTY6xa8JAGMW/O62BDi0tJLYQincXEypYIiGJjSgHniQ6umTsUEyLm5BV6NDBP8Tpts6F0v+k/0an2i+itHDw3v2+9+DBKTzsJNnWJNTgHEy4BgG3EMI9DCEDOGEXzDADU5hBKMIgNPZqoD3SilVaXZCER3/I7AtxEJLtzzuZfI+VVkprxTlXShWKb3TBecG11rwoNlmmn1P2WYcJczl32etSpKnziC7lQyWe1smVPy/Lt7Kc+0vWY/gAgIIEqAN9we0pwKXreiMasxvabDQMM4riO+qxM2ogwDGOZTXxwxDiycQIcoYFBLj5K3EIaSctAq2kTYiw+ymhce7vwM9jSqO8JyVd5RH9gyTt2+J/yUmYlIR0s04n6+7Vm1ozezUeLEaUjhaDSuXHwVRgvLJn1tQ7xiuVv/ocTRF42mNgZGBgYGbwZOBiAAFGJBIMAAizAFoAAABiAGIAznjaY2BkYGAA4in8zwXi+W2+MjCzMIDApSwvXzC97Z4Ig8N/BxYGZgcgl52BCSQKAA3jCV8CAABfAAAAAAQAAEB42mNgZGBg4f3vACQZQABIMjKgAmYAKEgBXgAAeNpjYGY6wTiBgZWBg2kmUxoDA4MPhGZMYzBi1AHygVLYQUCaawqDA4PChxhmh/8ODDEsvAwHgMKMIDnGL0x7gJQCAwMAJd4MFwAAAHjaY2BgYGaA4DAGRgYQkAHyGMF8NgYrIM3JIAGVYYDT+AEjAwuDFpBmA9KMDEwMCh9i/v8H8sH0/4dQc1iAmAkALaUKLgAAAHjaTY9LDsIgEIbtgqHUPpDi3gPoBVyRTmTddOmqTXThEXqrob2gQ1FjwpDvfwCBdmdXC5AVKFu3e5MfNFJ29KTQT48Ob9/lqYwOGZxeUelN2U2R6+cArgtCJpauW7UQBqnFkUsjAY/kOU1cP+DAgvxwn1chZDwUbd6CFimGXwzwF6tPbFIcjEl+vvmM/byA48e6tWrKArm4ZJlCbdsrxksL1AwWn/yBSJKpYbq8AXaaTb8AAHja28jAwOC00ZrBeQNDQOWO//sdBBgYGRiYWYAEELEwMTE4uzo5Zzo5b2BxdnFOcALxNjA6b2ByTswC8jYwg0VlNuoCTWAMqNzMzsoK1rEhNqByEyerg5PMJlYuVueETKcd/89uBpnpvIEVomeHLoMsAAe1Id4AAAAAAAB42oWQT07CQBTGv0JBhagk7HQzKxca2sJCE1hDt4QF+9JOS0nbaaYDCQfwCJ7Au3AHj+LO13FMmm6cl7785vven0kBjHCBhfpYuNa5Ph1c0e2Xu3jEvWG7UdPDLZ4N92nOm+EBXuAbHmIMSRMs+4aUEd4Nd3CHD8NdvOLTsA2GL8M9PODbcL+hD7C1xoaHeLJSEao0FEW14ckxC+TU8TxvsY6X0eLPmRhry2WVioLpkrbp84LLQPGI7c6sOiUzpWIWS5GzlSgUzzLBSikOPFTOXqly7rqx0Z1Q5BAIoZBSFihQYQOOBEdkCOgXTOHA07HAGjGWiIjaPZNW13/+lm6S9FT7rLHFJ6fQbkATOG1j2OFMucKJJsxIVfQORl+9Jyda6Sl1dUYhSCm1dyClfoeDve4qMYdLEbfqHf3O/AdDumsjAAB42mNgYoAAZQYjBmyAGYQZmdhL8zLdDEydARfoAqIAAAABAAMABwAKABMAB///AA8AAQAAAAAAAAAAAAAAAAABAAAAAA==)
    format('woff');
}
oui-menu-storybook,
oui-nested-menu-storybook,
oui-tooltip-storybook {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  min-height: 300px;
}
oui-panel-storybook {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  min-height: 545px;
}
oui-tooltip-storybook oui-icon {
  padding: 2px !important;
}
oui-tooltip-storybook oui-icon.cdk-focused.cdk-keyboard-focused {
  background: rgba(200, 200, 200, 0.4);
  border-radius: 2px;
  transition: opacity 0.2s cubic-bezier(0.35, 0, 0.25, 1),
    background-color 0.2s cubic-bezier(0.35, 0, 0.25, 1);
  padding: 2px;
  outline: 0 none;
}
.content {
  margin: 20px 0px 0px 100px;
  padding: 10px;
  width: 230px;
  box-shadow: 1px 1px 1px 1px #ccc;
}

.scrollbar-list li {
  padding: 10px 15px;
}
