@import '../../../checkbox/checkbox.scss';

// The width/height of the checkbox element.
$oui-checkbox-size: 16px !default;

// The width of the checkbox border shown when the checkbox is unchecked.
$oui-checkbox-border-width: 1px;

// The base duration used for the majority of transitions for the checkbox.
$oui-checkbox-transition-duration: 90ms;

// Padding inside of a pseudo checkbox.
$_oui-pseudo-checkbox-padding: $oui-checkbox-border-width * 2;

// Size of the checkmark in a pseudo checkbox.
$_oui-pseudo-checkmark-size: $oui-checkbox-size -
  (3.5 * $_oui-pseudo-checkbox-padding);

.oui-pseudo-checkbox {
  width: $oui-checkbox-size;
  height: $oui-checkbox-size;
  border: $oui-checkbox-border-width solid #9c9c9c;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  position: relative;
  flex-shrink: 0;
  transition: border-color $oui-checkbox-transition-duration
      $oui-linear-out-slow-in-timing-function,
    background-color $oui-checkbox-transition-duration
      $oui-linear-out-slow-in-timing-function;

  // Used to render the checkmark/mixedmark inside of the box.
  &::after {
    position: absolute;
    opacity: 0;
    content: '';
    border-bottom: $oui-checkbox-border-width * 2 solid #333;
    transition: opacity $oui-checkbox-transition-duration
      $oui-linear-out-slow-in-timing-function;
  }
}

.oui-pseudo-checkbox-disabled {
  cursor: default;
}

.oui-pseudo-checkbox-checked::after {
  top: ($oui-checkbox-size * 0.5) - ($_oui-pseudo-checkmark-size * 0.25) -
    ($oui-checkbox-size * 0.1) - $oui-checkbox-border-width;
  left: $_oui-pseudo-checkbox-padding;
  width: 9px;
  height: 4px;
  border-left: $oui-checkbox-border-width * 2 solid #333;
  transform: rotate(-45deg);
  opacity: 1;
}
