<div
  cdk-overlay-origin
  class="oui-select-trigger"
  aria-hidden="true"
  (click)="toggle()"
  #origin="cdkOverlayOrigin"
  #trigger
>
  <div class="oui-select-value" [ngSwitch]="empty">
    <span class="oui-select-placeholder" *ngSwitchCase="true">
      <span [innerHTML]="placeholder"></span>
    </span>
    <span
      class="oui-select-value-text"
      *ngSwitchCase="false"
      [ngSwitch]="!!customTrigger"
    >
      <span
        id="selected-values"
        *ngSwitchDefault
        [innerHTML]="triggerValue || placeholder"
      ></span>
      <ng-content select="oui-select-trigger" *ngSwitchCase="true"></ng-content>
    </span>
  </div>

  <div class="oui-select-arrow-wrapper">
    <oui-icon svgIcon="select-arrow-icon" class="oui-select-arrow"></oui-icon>
  </div>
</div>
<ng-template
  cdk-connected-overlay
  cdkConnectedOverlayLockPosition="false"
  cdkConnectedOverlayHasBackdrop
  cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
  [cdkConnectedOverlayOrigin]="origin"
  [cdkConnectedOverlayOpen]="panelOpen"
  [cdkConnectedOverlayMinWidth]="_triggerRect?.width"
  (backdropClick)="close()"
  (detach)="close()"
  (attach)="openCdk()"
>
  <div
    #panel
    class="oui-select-panel {{ cdkConnectionOverlayPanel }}"
    [ngClass]="panelClass"
    (keydown)="_handleKeydown($event)"
    [class.oui-select-input-outer]="ouiSelectInputOuterClassName"
    [class.oui-select-has-a-panel]="panelClass"
    [class.oui-select-large]="large"
    [class.action-item]="actionItems"
    [class.single-action-item]="singleActionItem"
  >
    <div class="oui-select-options">
      <div class="oui-select-options-wrapper">
        <ng-content></ng-content>
      </div>
    </div>
    <div *ngIf="singleActionItem" class="oui-select-action-wrapper">
      <div class="oui-select-action-items single-action-items">
        <button
          #singleButton
          oui-link-button
          (click)="handleSingleActionItemClick()"
        >
          {{singleActionLabel}}
        </button>
      </div>
    </div>
    <div *ngIf="actionItems" class="oui-select-action-wrapper">
      <div class="oui-select-action-items">
        <button
          #ddCancelButton
          oui-link-button
          color="primary"
          (click)="discardRecentChanges()"
        >
          {{cancelLabel}}</button
        ><button
          #ddDoneButton
          oui-button
          color="primary"
          [disabled]="disableDoneButton"
          (click)="doneRecentChanges()"
        >
          {{doneLabel}}
        </button>
      </div>
    </div>
  </div>
</ng-template>
