.oui-panel-content {
  color: #333;
  background: #fff;
  padding: 11px 17px 12px 17px;
  box-shadow: 0 1px 2px 0 rgba(74, 74, 74, 0.5);
  border: 1px solid #c8c8c8;
  font-size: 13px;
  line-height: 19px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  word-wrap: break-word;
  width: 270px;
  max-width: 512px;
  outline: none;
}

.oui-panel-content-large {
  width: 512px;
}

.oui-panel-content h6 {
  font-size: 13px;
  line-height: 19px;
  font-weight: bold;
  color: #333;
  margin: 0px 0px 6px;
}
.oui-panel-content img {
  width: 100%;
  margin: 0px 0px 11px;
}

.oui-panel-content p {
  margin: 0px 0px 6px;
  font-size: 13px;
  line-height: 19px;
  color: #333;
}
.oui-panel-content a {
  font-size: 13px;
  line-height: 19px;
  color: #006bb1;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
.oui-panel-content p:nth-last-child(1) {
  margin: 0px;
}

.oui-panel-icon {
  width: 22px !important;
  height: 22px !important;
  display: inline-block;
  margin: 0;
  padding: 2px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  &:focus {
    outline: none;
  }
  svg {
    color: #4a4a4a;
  }
}
.radius {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

oui-panel-icon {
  &[class^='cdk'],
  &[class$='focused'] {
    .oui-panel-icon {
      @extend .radius;
      background-color: #e8e8e8;
    }
  }
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.close-panel {
  @extend .radius;
  cursor: pointer;
  outline: none;
  width: 16px;
  height: 16px;
  background: #e9e9e9;
  position: absolute;
  top: 2px;
  right: 2px;
  opacity: 0;
  padding: 0;
  border: 0;
  text-align: center;
  line-height: 1;
  padding-bottom: 2px;
  cursor: default;
  pointer-events: none;
  &:focus {
    outline: none;
    pointer-events: all;
    opacity: 1;
  }
  svg {
    fill: #666;
  }
}
