$form-field-outline: 0;
$form-field-padding: 7px 9px;
$form-field-margin: 0;
$form-field-width: 100%;
$form-field-max-width: 100%;
$form-field-vertical-align: bottom;
$form-field-text-align: inherit;
$form-field-border-bottom: 1px solid #9c9c9c;
$form-field-border: 1px solid #9c9c9c;
$form-field-color: #333333;
$form-field-box-sizing: border-box;
@mixin oui-form-field-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  .oui-form-field {
    @include oui-form-field-base();
    @include oui-form-field-theme-palette($theme);
  }
  .oui-form-field-appearance-standard {
    @include oui-form-field-appearance-standard-theme-palette($theme);
  }
  .oui-form-field-appearance-underline {
    @include oui-form-field-appearance-underline-theme-palette($theme);
  }
}

/* Common properties in all form field*/
@mixin oui-form-field-base() {
  .oui-input {
    font-family: 'Open Sans', sans-serif;
    outline: $form-field-outline;
    padding: $form-field-padding;
    margin: $form-field-margin;
    width: $form-field-width;
    max-width: $form-field-max-width;
    vertical-align: $form-field-vertical-align;
    text-align: $form-field-text-align;
    color: $form-field-color;
    box-sizing: $form-field-box-sizing;
  }
}

/* Generating themes for oui-form-field(Standard form fields) */
@mixin oui-form-field-theme-palette($theme) {
  .oui-input {
    border: $form-field-border;
  }
}

/* Generating themes for oui-form-field-appearance-standard(standard form-fields)*/
@mixin oui-form-field-appearance-standard-theme-palette($theme) {

}

/* Generating themes for oui-form-field-appearance-underline(underline form-fields)*/
@mixin oui-form-field-appearance-underline-theme-palette($theme) {
  $primary: map-get($theme, primary);
  .oui-input {
    border: 0;
    border-bottom: $form-field-border-bottom;
    &:focus~.bottom-line{
      background-color: map-get($primary, lighter);
    }
    &:focus{
      border-bottom: 1px solid map-get($primary, lighter);
    }
  }
}
