.oui-mdc-tab-header {
  display: flex;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
  min-height: 48px;
  padding-top: 0;
  border-bottom: 1px solid #c8c8c8;
  justify-content: center;
}
.mdc-tab-indicator__content {
  transform-origin: left;
  opacity: 0;
}

.oui-mdc-tab-link.active .mdc-tab-indicator__content {
  opacity: 1;
}
