<div id="opaqueDivsContainer">
  <div id="OpaqueDivPromoDiv" class="opaque" style="background-color: black; position: fixed; top: 0px; left: 0px; bottom: 0px; right: 0px; z-index: 999899;"></div>
</div>


<div *ngIf="popupNumber==1" id="ConfirmDiv" class="soConfirmPopup commonPopup">
  <div class="confirmBlueStrip" style="cursor: default;">
    <div id="ConfirmDivTitleTextTD" style="width: 100%;" align="left">{{titleMsg}}</div>
    <div title="Close" (click)="close()" class="newCrossIcon"></div>
  </div>
  <div id="ConfTextTD" style="text-align: left;" [innerHTML]='confirmMsg'>
  </div>
  <div id="Td9" class="btnRow">
    <input type="button" class="btn" value="No" (click)="confirmNoFunc()">
    <input type="button" class="sBtn" value="Yes" (click)="confirmYesFunc()">
  </div>
</div>


<div *ngIf="popupNumber==2" id="AlertDiv" class="soConfirmPopup commonPopup">

  <div class="confirmBlueStrip">
    <div id="AlertDivTitleTextTD" style="width: 100%;" align="left">{{titleMsg}}</div>

    <div id="socloseicon" title="Close" (click)="close()" class="newCrossIcon"></div>
  </div>
  <div id="AlertDivTextTD" [innerHTML]='confirmMsg'></div>

  <div class="btnRow">
    <input type="button" id="soclose" class="btn" (click)="close()" value="Close">
  </div>

</div>

<div *ngIf="popupNumber==3" id="PromoDiv" class="soConfirmPopup commonPopup">
  <div class="confirmBlueStrip">
    <div id="PromoDivTitleTextTD" class="promoDivTitle" style="width: 100%;" align="left">{{titleMsg}}</div>
    <div title="Close" onclick="closePromoMessage();" id="ClearCloseButton" class="newCrossIcon" style="display: none;"></div>
  </div>
  <div id="PromoDivTextTD" class="promoDivTextTd" [innerHTML]='confirmMsg'></div>
  <div class="btnRow">


    <span id="LinkButtonUpgrade" class="btnLink connectionLinkId" (click)="close()">{{leftButtonText}}</span>


    <span id="upgradeBtnspan" class="pull-right">
      <input id="UpgradeButton" type="button" class="btn" value="{{promoBtnValue}}" (click)="promotionFunc()">
    </span>
  </div>


</div>
