/* You can add global styles to this file, and also import other style files */
@import '../projects/ui/src/lib/oui/core/theming/prebuilt/chatonce.scss';

@import url('//fonts.googleapis.com/css?family=Open+Sans:100,100i,300,300i,400,400i,500,500i,600,600i,700,700i,900,900i');

* {
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
