.dropholder {
  width: 230px;
}

.dropdown > p {
  color: #333333;
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 0;
  padding-right: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  z-index: 10;
  span {
    font-size: 14px;
    pointer-events: none;
  }
}

.newthemevalue span {
  font-size: 14px;
  pointer-events: none;
}

.dropdown > p {
  span, img {
    position: relative;
    z-index: -1;
  }
}

.active {
  + .dropdownMenu, .dropdownMenu {
    display: block;
  }
}

.dropholder {
  position: relative;
}

.dropdown {
  position: relative;
  height: 36px;
  border: 1px solid #9c9c9c;
  background-color: #fff;
  color: #333;
  line-height: 36px;
  width: 100%;
  padding: 4px;
  z-index: 1;
  cursor: pointer;
  &:after {
    content: '';
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 8px solid #000;
    height: 0;
    position: absolute;
    right: 10px;
    top: 12px;
    width: 0;
  }
  &.active:after {
    -ms-transform: rotate(180deg);
    /* IE 9 */
    -webkit-transform: rotate(180deg);
    /* Safari */
    transform: rotate(180deg);
  }
  &:hover {}
}

.dropdownMenu {
  padding: 0;
  position: absolute;
  left: 0;
  top: 35px;
  right: 0;
  margin: 0;
  display: none;
  border: 1px solid #9c9c9c;
  z-index: 5;
  max-height: 300px;
  overflow: hidden;
  border-radius: 0 0 4px 4px;
  background-color: #ffffff;
  width: 100%;
  input {
    width: 220px;
    border: 1px solid #9c9c9c;
    padding: 4px;
    height: 32px;
    line-height: 18px;
    margin-left: 4px;
    margin-top: 7px;
  }
  ul {
    max-height: 260px;
  }
  li {
    padding: 4px;
    list-style: none;
    cursor: pointer;
    &.disabled {
      font-weight: 700;
      opacity: 1;
      span.dd-img {
        display: none;
      }
    }
    &:hover {
      background: #eeeeee;
    }
  }
}

.selectedOption {
  background: #eeeeee;
}

.dropdown > p .img-caption {
  max-width: 26px;
  max-height: 26px;
  display: block;
  float: left;
  margin-right: 8px;
  img {
    max-width: 26px;
    max-height: 26px;
    display: block;
    margin: 0 auto;
  }
}

.dropdownMenu li span {
  width: 26px;
  height: 26px;
  display: block;
  float: left;
  margin-right: 8px;
  img {
    max-width: 26px;
    max-height: 26px;
    display: block;
    margin: 0 auto;
  }
}

.disabled {
  cursor: text;
  pointer-events: none;
  opacity: 0.6;
}

.dropdownMenu li {
  &.disabled:hover {
    background: transparent;
  }
  p {
    margin-bottom: 0;
    line-height: 24px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.dialogBody .newLocaleLabel {
  margin-top: 0;
}

.settingTranslate {
  .dropholder {
    width: 310px;
  }
  .tooltipContentStandard table td {
    padding: 3px 4px;
    &:first-child {
      padding-left: 0;
    }
  }
}

.pageHeaderSelect {
  .dropdown {
    height: 34px;
    font-size: 14px;
  }
  .dropdownMenu {
    top: 33px;
    font-size: 14px;
  }
  input {
    height: 26px;
  }
  .dropdownMenu ul {
    padding: 2px;
    padding-top: 0;
  }
}

.dropdown > p {
  span.img-caption-label {
    position: absolute;
  }
  overflow: visible;
}

.ps-scrollbar-x-rail, .ps-scrollbar-y-rail {
  opacity: 0.6;
}
