<div class="dropholder" (click)="openDropdown($event)">
  <div class="dropdown" [class.error]="errorCondition">
    <p><span *ngIf="showImage && default" class="img-caption">
      <img [src]="default.imageLink"
           (error)="imageErrorHandler($event)"/></span>
                      <span *ngIf="default" class="img-caption-label">{{default[key] || default.text | decode: showImage }}</span>
      <span *ngIf="!default" class="img-caption-label">Please select</span></p>
  </div>
  <div class="dropdownMenu">
    <input *ngIf="allowSearch" (keyup)="searchOptions($event)" [value]="searchText"/>
    <perfect-scrollbar [config]="config">
    <ul>
      <li *ngFor="let data of options | filter : searchText: 'text' | keys"
          (click)='changeOption($event, data)'
          [class.disabled]="data.value ==='-1' || data.value ==='-2'"
          [class.disabledButNormalText]="data.value ==='-2'"
          [class.selectedOption]="default && default.value === data[key || 'value']">
        <p [class.noResultsFound]="data.value==='no_result'">
          <span *ngIf="data.value !== 'no_result' && showImage" class="dd-img"><img
          [src]="data.imageLink"
          (error)="imageErrorHandler($event)"/></span>
          <span *ngIf="!checkIfObject()">{{data[key || 'text'] | decode: showImage }}</span>
          <span *ngIf="checkIfObject()">{{options[data] | decode: showImage }}</span>
        </p>
      </li>
    </ul>
    </perfect-scrollbar>
  </div>
</div>
