* {
  outline: none;
}

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

html, body {
  background: #fff;
  font-family: arial, sans-serif;
  color: #54667a;
  font-size: 16px;
  padding: 0;
  margin: 0;
  line-height: 1.5;
}

storybook-dynamic-app-root {
  width: 100%;
  margin: 0;
}
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
}

pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border-radius: 0;
}

.introductionPage{
  padding: 0 20px 50px;
}

h3{
  line-height: 30px;
  font-size: 21px;
  color: #2c2b2e;
  font-weight: normal;
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}

a{
  color: #007bff;
  text-decoration: none;
}

a:hover {
  color: #0056b3;
}

h5{
  line-height: 18px;
  font-size: 16px;
  font-weight: 400;
  color: #2c2b2e;
}

.codeOuter{
  padding-left: 60px;
  color: #bd4147;
}