<section class="introductionPage">
    <section class="introSection">
        <h3>Introduction</h3>
        <p>
            Various UI components that we are using at Oncehub.
        </p>
    </section>

    <section class="availableModules">
        <h3>Available components</h3>
        <ul>
            <li><a href="//github.com/scheduleonce/ui-components/blob/master/lib/datepicker/README.md">Datepicker</a></li>
            <li><a href="//github.com/scheduleonce/ui-components/blob/master/lib/drop-down/README.md">Dropdown</a></li>
        </ul>
    </section>

    <section class="installationSection">
        <h3>Installation</h3>

        <p class="codeOuter">
           <code> npm i --save @once/ui </code>
        </p>
    </section>

    <section class="installationSection">
        <h3>How to use?</h3>
        <div class="codeOuter" [innerHTML]="howToUse"></div>
    </section>


    <section class="folderStructure">
        <h3>Folder structure</h3>
        <h5>The src folder</h5>
        <div class="codeOuter">
            <code>
                |lib<br>
                    ├── drop-down<br>
                     |   └── src<br>
                     |   └── index.ts<br>
                     |   └── package.json<br>
                     |   └── public_api.json<br>
                     |   └── README.md<br>
                    ├── date-picker<br>
                     |   └── src<br>
                     |   └── index.ts<br>
                     |   └── package.json<br>
                     |   └── public_api.json<br>
                     |   └── README.md<br>
                ├── public_api.ts<br>
                ├── ng-package.json<br>
                ├── package.json<br>
                ├── README.md<br>
            </code>
        </div>
    </section>

</section>