name: CI Changes related to node PRs.....

on:
  pull_request:
    branches:
      - master
      - qa
      - staging-app2
      - 'team/**'
      - '**/story/**'

permissions:
  actions: read
  contents: read

env:
  DOCKER_REGISTRY: "dockeronce.azurecr.io"
  DOCKER_ORG: "kubernetes"
  DOTNET_INSTALL_DIR: "./.node"

jobs:
  ci-check:
    runs-on: once-ui-runner-scale-set

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Azure CLI
        shell: bash
        run: |
          if ! command -v az &>/dev/null; then
            echo "Installing Azure CLI..."
            curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash
          fi

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Get secrets from KeyVault
        id: kv
        uses: azure/get-keyvault-secrets@v1
        with:
          keyvault: jx3-keyvault
          secrets: 'REGISTRY-PASSWORD, MERGE-DISABLED'

      - name: Check merge toggle
        shell: bash
        run: |
          if [[ "${{ github.event.pull_request.base.ref }}" == "qa" && "${{ steps.kv.outputs.MERGE-DISABLED }}" == "true" ]]; then
            echo "❌ Merge disabled for QA branch."
            exit 1
          fi

      - name: Check clean merge
        shell: bash
        run: |
          set -e
          echo "Checking if merge between base and head branches is clean..."
          
          git config --global --add user.name ${GIT_AUTHOR_NAME:-so-integrations}
          git config --global --add user.email ${GIT_AUTHOR_EMAIL:-so-integrations@oncehub.com}
          
          git fetch origin ${{ github.event.pull_request.base.ref }}:base-ref
          git fetch origin ${{ github.event.pull_request.head.ref }}:head-ref
          git checkout base-ref
          if ! git merge --no-commit --no-ff head-ref; then
            echo "❌ Merge conflicts detected."
            exit 1
          fi
          echo "✅ Clean merge confirmed."

      - name: Set version tag output
        id: version-tag
        shell: bash
        run: |
          # Script to evaluate image tag.
          branchName=${{ github.base_ref }}
          echo "eval tag script for $branchName branch..."
          teamBranchReg="team\/.*"
          storyBranchReg=".*\/story\/.*"
          if [[ $branchName =~ $teamBranchReg ]]; then
            tag=$(echo $branchName | sed 's/team\//''/g' )
          elif [[ $branchName =~ $storyBranchReg ]]; then
            tag=$(echo $branchName | sed 's/\/.*/''/g' )
          elif [[ $branchName == "master" ]]; then
            tag="prod"
          elif [[ $branchName == "qa" || $branchName == "staging-app2" ]]; then
            tag=$branchName
          else
            tag="${branchName//\//'-'}"
          fi
          echo "tag=$tag" >> $GITHUB_OUTPUT

      # ---------------------------------------------------
      # 1. Setup Node.js
      # ---------------------------------------------------
      - uses: actions/setup-node@v4
        with:
          node-version: '24.11.0'

      # ---------------------------------------------------
      # 2. Install Chrome Dependencies
      # ---------------------------------------------------
      - name: Install Chrome Dependencies
        shell: bash
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            libnss3 \
            libnspr4 \
            libatk1.0-0 \
            libatk-bridge2.0-0 \
            libcups2 \
            libdrm2 \
            libxkbcommon0 \
            libxcomposite1 \
            libxdamage1 \
            libxfixes3 \
            libxrandr2 \
            libgbm1 \
            libasound2 \
            libpango-1.0-0 \
            libcairo2 \
            libx11-6 \
            libx11-xcb1 \
            libxcb1 \
            libxext6 \
            fonts-liberation \
            libappindicator3-1 \
            xdg-utils

      # ---------------------------------------------------
      # 3. Build TypeScript
      # ---------------------------------------------------
      - name: install-packages
        shell: bash
        run: |
          node -v
          npm ci

      # ---------------------------------------------------
      # 4. Test Prettier
      # ---------------------------------------------------
      - name: Test Prettier
        shell: bash
        run: npm run prettier

      # ---------------------------------------------------
      # 5. Test TSLint
      # ---------------------------------------------------
      - name: Test Lint
        shell: bash
        run: npm run lint

      # ---------------------------------------------------
      # 6. Unit Tests
      # ---------------------------------------------------
      - name: Unit Tests
        shell: bash
        run: export NODE_ENV="test" && npm run test

      # - name: test-inte
      #   shell: bash
      #   run: npm run test:inte

      # - name: Run Node Tests
      #   uses: scheduleonce/github-workflows/.github/actions/node-check@main
      #   with:
      #     repo-name: ${{ github.event.repository.name }}
      #     base-branch: ${{ github.base_ref }}
      
      # - name: Code Coverage
      #   run: npm run coverage && npx nyc check-coverage --lines 65 --functions 65 --branches 65 --statements 6

      - name: Docker login
        uses: docker/login-action@v2
        with:
          registry: dockeronce.azurecr.io/
          username: dockeronce
          password: ${{ steps.kv.outputs.REGISTRY-PASSWORD }}

      - name: Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: dockeronce.azurecr.io/kubernetes/${{ github.event.repository.name }}:${{ steps.version-tag.outputs.tag }}-PR-${{ github.event.pull_request.number }}

      - name: Trivy Scan
        uses: aquasecurity/trivy-action@master
        continue-on-error: true
        with:
          image-ref: dockeronce.azurecr.io/kubernetes/${{ github.event.repository.name }}:${{ steps.version-tag.outputs.tag }}-PR-${{ github.event.pull_request.number }}
          format: 'table'
          exit-code: '0'
          severity: 'CRITICAL,HIGH'
    
    
      # - name: Sonar Scan
      #   uses: scheduleonce/github-workflows/.github/actions/node-sonar-scan@main
      #   with:
      #     repo-name: ${{ github.event.repository.name }}
      #     base-branch: ${{ github.base_ref }}